/* Navigation Menu */
.container-fluid{
	padding: 15px;
}
.navbar{
	background-color: rgb(3, 4, 70);
}
.nav-link:link, .nav-link:visited{
	font-weight: bold;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	border-radius: 10%;
}
.nav-link:hover, .nav-link:active{
	background-color: rgb(241, 213, 54);
	transition: all 0.3s ease-in;
	font-weight: bold;
	color: black !important;
}
.navbar-brand{
	height: 5vh;
}

/* Movies management */
.peliculaimg{
	transition: .4s;
}
.peliculaimg:hover{
	transform: scale(0.8);
}
#carousel {
    margin: 180px 0px 180px 0px; 
}
/* Movies Table */
.peliculas , .title{
	display:inline-table;
	padding: 30px;
	float: none;
	color: white;
	text-align: center;
}
.pelicula{
	align-items: center;
}
#dataTable{
	margin: 180px 0px 100px 0px; 
}
body{
	background-color:darkblue !important;
	padding: 0;
	margin: 0;
	height: 100%;
}
table,tr, td, th{
	border: 1px solid black;
	border-collapse: collapse;
    text-align:center;
	align-items: center;
	color: aliceblue;
	background-color:darkblue;
}
table{
	width: 100%;
}
td, th{
	width: auto;
}
td:hover, th:hover{
	background-color: aqua;
	color:red;
}
ul{
	list-style-type:none;
}
/* Footer */
footer{
	margin-top: 40vh;
	margin-bottom: 0;
}
.footer-container{
	background-color: rgb(11, 10, 37)
}
.footer-link:hover , .footer-link:active{
	color:cadetblue !important;
	font-size: larger;
}